In [1]:
# Step 1: Set environment
# We need to set environment's correct values if we want to load project modules. 
import sys, os

# It's important load the PROJECT_ROOT path. We need to replace PROJECT_ROOT with correct folder
# Module is placed in api folder inside project root folder
PROJECT_ROOT = '/home/jacrisol/github/bain-vantage'
MODULE_FULL_PATH = os.path.join(PROJECT_ROOT, 'api')
sys.path.insert(1, MODULE_FULL_PATH)


from api.settings import env, config

# config file sample can be foun at PROJECT_ROOT/api/config.env.sample. All keys and passwods are placed there.
# in this step, we load this file to get all carto api keys needed.
env.read_env('/home/jacrisol/github/bain-vantage/api/notebooks.env')
with env.prefixed("BAIN_VANT_API_"):
    config['carto'] = {
        'base_url': env.str('CARTO_BASE_URL', ''),
        'user': env.str('CARTO_ADMIN_USER', 'xxx'),
        'api_key': env.str('CARTO_ADMIN_API_KEY', 'xxx'),
    }
    
# Step 2: create carto variable
# create carto object to be able to use methods inside it. We import all necessary classes for the samples too 

from etl.cf_model import CartoFramesModel, IsochroneType, RouteType, RouteModeType
carto = CartoFramesModel()

/home/jacrisol/.virtualenvs/vantage/lib/python3.7/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
# Step 3. Samples of get_geopandas_from_query
# Recover a geodataframe from an SQL query. 

gpd = carto.get_geopandas_from_query('select the_geom from all_stores limit 10')
print(gpd)

                      the_geom
0   POINT (-73.41934 41.55376)
1   POINT (-87.69367 41.91522)
2   POINT (-83.13334 42.45569)
3   POINT (-77.00738 38.95961)
4   POINT (-84.50474 37.96850)
5  POINT (-118.93813 35.37738)
6   POINT (-87.11570 37.28803)
7   POINT (-84.04721 34.02540)
8   POINT (-82.27050 27.89526)
9   POINT (-84.11775 39.84930)

In [4]:
# Step 4. Samples of get_geopandas_from_query
# Execute any sql query and return the results

data_sql = await carto.generic_sql('select count(*) from all_stores')
print(data_sql.rows)

[{'count': 4405}]

In [2]:
# Step 5. Samples of get_isochrone
# Generate an isochrone in the coordinates (lon: 76.2497039, lat:36.8117696), 
# minutes (3) and type (CAR) and returns a geodataframe. As input need a geodataframe or a 
# dataframe with latitude_from, longitude_from, latitude_to, longitude_to columns in 4326


import pandas as pd
import geopandas

df = pd.DataFrame(
    {'latitude': [36.8117696, 36.9117696],
     'longitude': [-76.2497039, -76.2497039]})

gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.longitude, df.latitude))


isochrone = carto.get_isochrones(gdf, 3, IsochroneType.CAR)
print(isochrone)

[2021-01-21T01:42:38Z] (136725) {cf_model.py:231} INFO - Processing data
[2021-01-21T01:42:38Z] (136725) {carto.py:125} WARNING - Geometry column not found in the GeoDataFrame.
[2021-01-21T01:42:42Z] (136725) {cf_model.py:253} INFO - Calculating isochrones ...
[2021-01-21T01:42:46Z] (136725) {cf_model.py:258} INFO - Calculated !

   latitude  longitude                                           the_geom
0  36.81177 -76.249704  MULTIPOLYGON (((-76.26014 36.81587, -76.25954 ...
1  36.91177 -76.249704  MULTIPOLYGON (((-76.25756 36.91389, -76.25731 ...

In [3]:
# Step 6. Samples of get_route
# Returns a geodataframe, with route, miles and seconds of the route. As input need a geodataframe or a 
# dataframe with latitude_from, longitude_from, latitude_to, longitude_to columns in 4326

import pandas as pd
import geopandas

df = pd.DataFrame(
    {'latitude_from': [36.8117696, 36.9117696],
     'longitude_from': [-76.2497039, -76.2497039],
     'latitude_to': [34.8117696, 34.9117696],
     'longitude_to': [-78.2497039, -78.2497039]}
)

# sample test with dataframe as input
print('Testing with dataframe as input')
route_pd = carto.get_routes(df, RouteType.CAR, RouteModeType.SHORT)
print(route_pd)

# convert to geodrataframe. Geometry is not important, for the example we create a random point with from coordinates
gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.longitude_from, df.latitude_from))

# sample test wi geodataframe as input
print('Testing with geodataframe as input')
route_gdp = carto.get_routes(df, RouteType.CAR, RouteModeType.SHORT)
print(route_gdp)

[2021-01-21T01:42:57Z] (136725) {cf_model.py:291} INFO - Processing data

Testing with dataframe as input

[2021-01-21T01:43:00Z] (136725) {cf_model.py:332} INFO - Calculating routes ...
[2021-01-21T01:43:05Z] (136725) {cf_model.py:337} INFO - Calculated !
[2021-01-21T01:43:05Z] (136725) {cf_model.py:291} INFO - Processing data

   latitude_from  longitude_from  latitude_to  longitude_to  \
0       36.81177      -76.249704     34.81177    -78.249704
1       36.91177      -76.249704     34.91177    -78.249704

                                            the_geom   miles  seconds
0  LINESTRING (-76.24954 36.81173, -76.24961 36.8...  201.68    14260
1  LINESTRING (-76.24975 36.91192, -76.24979 36.9...  198.55    14806
Testing with geodataframe as input

[2021-01-21T01:43:09Z] (136725) {cf_model.py:332} INFO - Calculating routes ...
[2021-01-21T01:43:15Z] (136725) {cf_model.py:337} INFO - Calculated !

   latitude_from  longitude_from  latitude_to  longitude_to  \
0       36.81177      -76.249704     34.81177    -78.249704
1       36.91177      -76.249704     34.91177    -78.249704

                                            the_geom   miles  seconds
0  LINESTRING (-76.24954 36.81173, -76.24961 36.8...  201.68    14260
1  LINESTRING (-76.24975 36.91192, -76.24979 36.9...  198.55    14805

In [6]:
# Step 7. 
# Sample of how we can get all variables from a dataset. 
from cartoframes.data.observatory import Dataset, Enrichment
vars = Dataset.get('acs_sociodemogr_b758e778').variables
print (vars)

[<Variable.get('geoid_a5c8cb80')> #'US Census Block Groups Geoids', <Variable.get('do_date_c594862a')> #'First day of the year the survey was issued', <Variable.get('total_pop_3cf008b3')> #'Total Population. The total number of all people l...', <Variable.get('households_58bf2ab1')> #'Households. A count of the number of households in...', <Variable.get('male_pop_449530e0')> #'Male Population. The number of people within each ...', <Variable.get('female_pop_cc328858')> #'Female Population. The number of people within eac...', <Variable.get('median_age_6bdca388')> #'Median Age. The median age of all people in a give...', <Variable.get('male_under_5_92ce7395')> #'Male under 5 years. The male population over the a...', <Variable.get('male_5_to_9_59fba94e')> #'Male age 5 to 9. The male population between the a...', <Variable.get('male_10_to_14_585eef67')> #'Male age 10 to 14. The male population between the...', <Variable.get('male_15_to_17_936f917a')> #'Male age 15 to 17. The male population between the...', <Variable.get('male_18_to_19_1500ddbd')> #'Male age 18 and 19. The male population between th...', <Variable.get('male_20_a7ec82d8')> #'Male age 20. The male population with an age of tw...', <Variable.get('male_21_d0ebb24e')> #'Male age 21. The male population with an age of tw...', <Variable.get('male_22_to_24_6a63aa6e')> #'Male age 22 to 24. The male population between the...', <Variable.get('male_25_to_29_d175e85d')> #'Male age 25 to 29. The male population between the...', <Variable.get('male_30_to_34_284d8a98')> #'Male age 30 to 34. The male population between the...', <Variable.get('male_35_to_39_4c4d982')> #'Male age 35 to 39. The male population between the...', <Variable.get('male_40_to_44_6dc91546')> #'Male age 40 to 44. The male population between the...', <Variable.get('male_45_to_49_4140465c')> #'Men age 45 to 49. The male population between the ...', <Variable.get('male_50_to_54_b8782499')> #'Men age 50 to 54. The male population between the ...', <Variable.get('male_55_to_59_94f17783')> #'Men age 55 to 59. The male population between the ...', <Variable.get('male_60_to_61_6db08436')> #'Men age 60 to 61. The male population between the ...', <Variable.get('male_62_to_64_8a456190')> #'Men age 62 to 64. The male population between the ...', <Variable.get('male_65_to_66_a1ec3e32')> #'Male age 65 to 66. The male population between the...', <Variable.get('male_67_to_69_a6cc328a')> #'Male age 67 to 69. The male population between the...', <Variable.get('male_70_to_74_c86b4166')> #'Male age 70 to 74. The male population between the...', <Variable.get('male_75_to_79_e4e2127c')> #'Male age 75 to 79. The male population between the...', <Variable.get('male_80_to_84_96d34f05')> #'Male age 80 to 84. The male population between the...', <Variable.get('male_85_and_ove_4aea7bf4')> #'Male age 85 and over. The male population of the a...', <Variable.get('female_under_5_83609b74')> #'Female under 5 years. The female population over t...', <Variable.get('female_5_to_9_f6181495')> #'Female age 5 to 9. The female population between t...', <Variable.get('female_10_to_14_8f429361')> #'Female age 10 to 14. The female population between...', <Variable.get('female_15_to_17_4473ed7c')> #'Female age 15 to 17. The female population between...', <Variable.get('female_18_to_19_c21ca1bb')> #'Female age 18 and 19. The female population betwee...', <Variable.get('female_20_80edc00')> #'Female age 20. The female population with an age o...', <Variable.get('female_21_7f09ec96')> #'Female age 21. The female population with an age o...', <Variable.get('female_22_to_24_bd7fd668')> #'Female age 22 to 24. The female population between...', <Variable.get('female_25_to_29_669945b')> #'Female age 25 to 29. The female population between...', <Variable.get('female_30_to_34_ff51f69e')> #'Female age 30 to 34. The female population between...', <Variable.get('female_35_to_39_d3d8a584')> #'Female age 35 to 39. The female population between...', <Variable.get('female_40_to_44_bad56940')> #'Female age 40 to 44. The female population between...', <Variable.get('female_45_to_49_965c3a5a')> #'Female age 45 to 49. The female population between...', <Variable.get('female_50_to_54_6f64589f')> #'Female age 50 to 54. The female population between...', <Variable.get('female_55_to_59_43ed0b85')> #'Female age 55 to 59. The female population between...', <Variable.get('female_60_to_61_baacf830')> #'Female age 60 and 61. The female population betwee...', <Variable.get('female_62_to_64_5d591d96')> #'Female age 62 to 64. The female population between...', <Variable.get('female_65_to_66_76f04234')> #'Female age 65 to 66. The female population between...', <Variable.get('female_67_to_69_71d04e8c')> #'Female age 67 to 69. The female population between...', <Variable.get('female_70_to_74_1f773d60')> #'Female age 70 to 74. The female population between...', <Variable.get('female_75_to_79_33fe6e7a')> #'Female age 75 to 79. The female population between...', <Variable.get('female_80_to_84_41cf3303')> #'Female age 80 to 84. The female population between...', <Variable.get('female_85_and_o_d9ec6d24')> #'Female age 85 and over. The female population of t...', <Variable.get('white_pop_57ba3138')> #'White Population. The number of people identifying...', <Variable.get('pop_16_over_71fca5f7')> #'Population age 16 and over. The number of people i...', <Variable.get('pop_25_years_ov_cbbf5773')> #'Population 25 Years and Over. The number of people...', <Variable.get('black_pop_a7abfad9')> #'Black or African American Population. The number o...', <Variable.get('asian_pop_8d7a8587')> #'Asian Population. The number of people identifying...', <Variable.get('hispanic_pop_9f05120f')> #'Hispanic Population. The number of people identify...', <Variable.get('amerindian_pop_6f173fd6')> #'American Indian and Alaska Native Population. The ...', <Variable.get('other_race_pop_db5b5e9d')> #'Other Race population. The number of people identi...', <Variable.get('two_or_more_rac_1de7804c')> #'Two or more races population. The number of people...', <Variable.get('white_including_efb59302')> #'White including Hispanic', <Variable.get('black_including_fa194f07')> #'Black including Hispanic', <Variable.get('asian_including_a3784c89')> #'Asian including Hispanic', <Variable.get('amerindian_incl_83f925c9')> #'American Indian and Alaska Native Population, incl...', <Variable.get('not_hispanic_po_c9f9d236')> #'Population not Hispanic. The number of people not ...', <Variable.get('median_income_70005174')> #'Median Household Income in the past 12 Months. Wit...', <Variable.get('income_per_capi_8a9352e0')> #'Per Capita Income in the past 12 Months. Per capit...', <Variable.get('income_less_100_481dce8c')> #'Households with income less than $10,000. The numb...', <Variable.get('income_10000_14_e64afea4')> #'Households with income of $10,000 to $14,999. The ...', <Variable.get('income_15000_19_f209ed3d')> #'Households with income of $15,000 to $19,999. The ...', <Variable.get('income_20000_24_3808e275')> #'Households with income of $20,000 to $24,999. The ...', <Variable.get('income_25000_29_2c4bf1ec')> #'Households with income of $25,000 to $29,999. The ...', <Variable.get('income_30000_34_c4e61405')> #'Households with income of $30,000 to $34,999. The ...', <Variable.get('income_35000_39_d0a5079c')> #'Households with income of $35,000 to $39,999. The ...', <Variable.get('income_40000_44_5ffddd96')> #'Households with income of $40,000 to $44,999. The ...', <Variable.get('income_45000_49_4bbece0f')> #'Households with income of $45,000 to $49,999. The ...', <Variable.get('income_50000_59_5179f33b')> #'Households with income of $50,000 to $59,999. The ...', <Variable.get('income_60000_74_40311e87')> #'Households with income of $60,000 to $74,999. The ...', <Variable.get('income_75000_99_2acc6cbf')> #'Households with income of $75,000 to $99,999. The ...', <Variable.get('income_100000_1_8703aa21')> #'Households with income of $100,000 to $124,999. Th...', <Variable.get('income_125000_1_6745b581')> #'Households with income of $125,000 to $149,999. Th...', <Variable.get('income_150000_1_9a1a34fd')> #'Households with income of $150,000 to $199,999. Th...', <Variable.get('income_200000_o_72d6ce96')> #'Households with income of $200,000 Or More. The nu...', <Variable.get('households_reti_35a66100')> #'Households receiving retirement income', <Variable.get('housing_units_a498b304')> #'Housing Units. A count of housing units in each ge...', <Variable.get('renter_occupied_2ae2df')> #'Renter-Occupied Housing Units Paying Cash Rent Med...', <Variable.get('owner_occupied__dbf0b088')> #'Owner-Occupied Housing Units Lower Value Quartile', <Variable.get('owner_occupied__d4f620e7')> #'Owner-Occupied Housing Units Median Value. The mid...', <Variable.get('owner_occupied__727951f9')> #'Owner-Occupied Housing Units Upper Value Quartile', <Variable.get('occupied_housin_4de3220c')> #'Occupied housing units. A housing unit is classifi...', <Variable.get('housing_units_r_91d3c183')> #'Renter occupied housing units. All occupied units ...', <Variable.get('vacant_housing__19fc51ed')> #'Vacant Housing Units. The count of vacant housing ...', <Variable.get('vacant_housing__2affff23')> #'Vacant Housing Units for Rent. The count of vacant...', <Variable.get('vacant_housing__cdcc72ea')> #'Vacant Housing Units for Sale. The count of vacant...', <Variable.get('dwellings_1_uni_740a9176')> #'Single-family (one unit) detached dwellings. This ...', <Variable.get('dwellings_1_uni_fd430868')> #'Single-family (one unit) attached dwellings. This ...', <Variable.get('dwellings_2_uni_fb8f6cfb')> #'Two-family (two unit) dwellings', <Variable.get('dwellings_3_to__ae5ee0a9')> #'Multifamily dwellings with three to 4 units', <Variable.get('dwellings_5_to__20b42489')> #'Apartment buildings with 5 to 9 units', <Variable.get('dwellings_10_to_84fc3da1')> #'Apartment buildings with 10 to 19 units', <Variable.get('dwellings_20_to_b07d161e')> #'Apartment buildings with 20 to 49 units', <Variable.get('dwellings_50_or_da54f887')> #'Apartment buildings with 50 or more units', <Variable.get('mobile_homes_9cde5498')> #'Mobile homes. A manufactured home is defined as a ...', <Variable.get('housing_built_2_d1894f51')> #'Housing units built in 2005 or later. A house, an ...', <Variable.get('housing_built_2_63919bbb')> #'Housing units built between 2000 and 2004. A house...', <Variable.get('housing_built_1_d2d37b8e')> #'Housing units built before 1939. A house, an apart...', <Variable.get('median_year_str_e758b95d')> #'Median Year Structure Built. Median Year Structure...', <Variable.get('married_househo_c9c5757c')> #'Married households. People in formal marriages, as...', <Variable.get('nonfamily_house_5cd4ca9f')> #'Nonfamily Households. A householder living alone o...', <Variable.get('family_househol_ccc25a10')> #'Family Households. A family consists of a househol...', <Variable.get('median_rent_c4be78cd')> #'Median Rent. The median contract rent within a geo...', <Variable.get('percent_income__e10d111e')> #'Percent of Household Income Spent on Rent. Within ...', <Variable.get('rent_burden_not_264bcca1')> #'Housing units without rent burden computed. Units ...', <Variable.get('rent_over_50_pe_dde2fb5b')> #'Housing units spending over 50% income on rent. Gr...', <Variable.get('rent_40_to_50_p_d6d84566')> #'Housing units spending 40 to 49.9% income on rent....', <Variable.get('rent_35_to_40_p_f76468a6')> #'Housing units spending 35 to 39.9% income on rent....', <Variable.get('rent_30_to_35_p_6ca8881b')> #'Housing units spending 30 to 34.9% income on rent....', <Variable.get('rent_25_to_30_p_bbd0e24e')> #'Housing units spending 25 to 29.9% income on rent....', <Variable.get('rent_20_to_25_p_2d0272b4')> #'Housing units spending 20 to 24.9% income on rent....', <Variable.get('rent_15_to_20_p_7dda3d82')> #'Housing units spending 15 to 19.9% income on rent....', <Variable.get('rent_10_to_15_p_effd7d45')> #'Housing units spending 10 to 14.9% income on rent....', <Variable.get('rent_under_10_p_23079224')> #'Housing units spending less than 10% on rent. Gros...', <Variable.get('owner_occupied__92a1eb32')> #'Owner-occupied Housing Units', <Variable.get('million_dollar__dc010fc9')> #'Owner-occupied Housing Units valued at $1,000,000 ...', <Variable.get('mortgaged_housi_97410171')> #'Owner-occupied Housing Units with a Mortgage. The ...', <Variable.get('families_with_y_2ea4af81')> #'Families with young children (under 6 years of age...', <Variable.get('two_parent_fami_fc01a7fe')> #'Two-parent families with young children (under 6 y...', <Variable.get('two_parents_in__9ae5d68f')> #'Two-parent families, both parents in labor force w...', <Variable.get('two_parents_fat_39998158')> #'Two-parent families, father only in labor force wi...', <Variable.get('two_parents_mot_a0c0f4f2')> #'Two-parent families, mother only in labor force wi...', <Variable.get('two_parents_not_c68c92a1')> #'Two-parent families, neither parent in labor force...', <Variable.get('one_parent_fami_8c9b3280')> #'One-parent families with young children (under 6 y...', <Variable.get('father_one_pare_857b5668')> #'One-parent families, father, with young children (...', <Variable.get('father_in_labor_83671e1b')> #'One-parent families, father in labor force, with y...', <Variable.get('commute_5_9_min_91bf14a0')> #'Number of workers with a commute between 5 and 9 m...', <Variable.get('commute_less_10_4c40a847')> #'Number of workers with less than 10 minute commute...', <Variable.get('commute_10_14_m_86ae60a1')> #'Number of workers with a commute between 10 and 14...', <Variable.get('commute_15_19_m_70a73630')> #'Number of workers with a commute between 15 and 19...', <Variable.get('commute_20_24_m_5c71c13f')> #'Number of workers with a commute between 20 and 24...', <Variable.get('commute_25_29_m_aa7897ae')> #'Number of workers with a commute between 25 and 29...', <Variable.get('commute_30_34_m_15c4a1b5')> #'Number of workers with a commute between 30 and 34...', <Variable.get('commute_35_39_m_e3cdf724')> #'Number of workers with a commute between 35 and 39...', <Variable.get('commute_40_44_m_32bf8442')> #'Number of workers with a commute between 40 and 44...', <Variable.get('commute_35_44_m_9af4da74')> #'Number of workers with a commute between 35 and 44...', <Variable.get('commute_45_59_m_62c1d967')> #'Number of workers with a commute between 45 and 59...', <Variable.get('commute_60_more_eebb42c')> #'Number of workers with a commute of over 60 minute...', <Variable.get('commute_60_89_m_4d742dd5')> #'Number of workers with a commute between 60 and 89...', <Variable.get('commute_90_more_7c7f2b5d')> #'Number of workers with a commute of over 90 minute...', <Variable.get('commuters_16_ov_4156f25c')> #'Workers age 16 and over who do not work from home....', <Variable.get('aggregate_trave_b8b8de12')> #'Aggregate travel time to work. The total number of...', <Variable.get('commuters_by_pu_c5440585')> #'Commuters by Public Transportation. The number of ...', <Variable.get('associates_degr_e6b12dff')> #'Population Completed Associate's Degree. The numbe...', <Variable.get('bachelors_degre_a43cf693')> #'Population Completed Bachelor's Degree. The number...', <Variable.get('high_school_dip_d49cd132')> #'Population Completed High School. The number of pe...', <Variable.get('less_one_year_c_f59dde80')> #'Population completed less than one year of college...', <Variable.get('masters_degree_bff9c40d')> #'Population Completed Master's Degree. The number o...', <Variable.get('one_year_more_c_b08ac783')> #'Population completed more than one year of college...', <Variable.get('employed_pop_62a1c61c')> #'Employed Population. The number of civilians 16 ye...', <Variable.get('unemployed_pop_8e1588e9')> #'Unemployed Population', <Variable.get('pop_in_labor_fo_64d2aad0')> #'Population in Labor Force. The number of people in...', <Variable.get('not_in_labor_fo_876da8c6')> #'Population Not in Labor Force. The number of peopl...', <Variable.get('armed_forces_dc7f1d8')> #'Population in Armed Forces. The number of people i...', <Variable.get('civilian_labor__ef34042e')> #'Population in Civilian Labor Force. The number of ...']

In [2]:
# Step 8. Enrichment sample
# the geodataframe needs a column called the_geom

gpd_enrich = carto.get_geopandas_from_query('select the_trade_area as the_geom from __seeds limit 10')
data = carto.enrichment_variables(gpd_enrich, ['total_pop_3cf008b3'])
print (data)

                                            the_geom    total_pop
0  MULTIPOLYGON (((-80.68849 32.34941, -80.68840 ...   642.459472
1  MULTIPOLYGON (((-81.72515 26.51207, -81.72472 ...     0.058559
2  MULTIPOLYGON (((-89.40528 40.15846, -89.40399 ...    57.379971
3  MULTIPOLYGON (((-73.26293 44.54475, -73.26250 ...   807.688245
4  MULTIPOLYGON (((-97.76193 28.40464, -97.76184 ...  2226.278005
5  MULTIPOLYGON (((-71.10686 42.27264, -71.10643 ...  7150.391094
6  MULTIPOLYGON (((-81.09481 35.35950, -81.09438 ...   146.845990
7  MULTIPOLYGON (((-94.19326 38.87375, -94.19283 ...   103.108315
8  MULTIPOLYGON (((-71.09382 42.33925, -71.09339 ...  9859.704752
9  MULTIPOLYGON (((-81.51092 38.20839, -81.51049 ...     1.901722

In [4]:
# Step 9. Update values in CARTO database
# update_carto_value sample. We are updating the table prioritize_seed_1403,
# for the row with a cartdbID = 1, we are settgin the "label" field to "new_label",
# specifying that we are passing over a string.


dataframe = carto.get_geopandas_from_query('select * from __prioritize_seed_1403')
dataframe['label'] = 'test'
response = carto.update_rows('__prioritize_seed_1403', 'cartodb_id', ['label', 'number', 'the_geom'], dataframe)
print (response)

[2021-01-20T23:29:01Z] (129632) {cf_model.py:145} INFO - Processing data
[2021-01-20T23:29:05Z] (129632) {cf_model.py:156} INFO - Updating data ...
[2021-01-20T23:29:10Z] (129632) {cf_model.py:159} INFO - Updated !

True

In [2]:
# Step 10. Append new rows to a table in CARTO database

# we need to pass as parameters the table wich we need to append a new row and three arrays,
# with the same length. This arrays contains the name of the fields we need to insert, values and the 
# type of each value.
columns = ['label', 'number', 'the_geom']

dataframe_insert = carto.get_geopandas_from_query('select * from __prioritize_seed_1403')

response = carto.insert_rows('__prioritize_seed_1403', columns, dataframe_insert)
print(response)

[2021-01-20T23:15:41Z] (129140) {cf_model.py:190} INFO - Processing data
[2021-01-20T23:15:44Z] (129140) {cf_model.py:199} INFO - Inserting data ...
[2021-01-20T23:15:49Z] (129140) {cf_model.py:202} INFO - Inserted !

True

In [2]:
buffers = carto.make_buffer('all_stores', 1)
buffers.head()

   cartodb_id                                           the_geom
0       14155  POLYGON ((-73.40005 41.55349, -73.40049 41.550...
1       21665  POLYGON ((-87.67427 41.91533, -87.67461 41.912...
2       11580  POLYGON ((-83.11378 42.45605, -83.11406 42.453...
3        3440  POLYGON ((-76.98881 38.95993, -76.98909 38.957...
4        3150  POLYGON ((-84.48644 37.96811, -84.48689 37.965...

In [3]:
enriched_areas = carto.std_var_enrich(buffers.head(), 
                                   'demo',
                                    incl_perc=True,
                                    incl_catchment=True)

Downloading standard variables from Carto...complete
Aggregating data and calculating percentages...complete

In [4]:
enriched_areas.head()

,cartodb_id,the_geom,associates_degree_1mi,families_with_young_children_1mi,black_pop_1mi,income_per_capita_1mi,million_dollar_housing_units_1mi,two_or_more_races_pop_1mi,asian_pop_1mi,amerindian_pop_1mi,...,perc_rented_units_1mi,perc_1_unit_1mi,perc_2_4_units_1mi,perc_apartments_1mi,perc_post_2005_units_1mi,perc_pre_1939_units_1mi,perc_million_dol_units_1mi,perc_mortaged_units_1mi,perc_single_parent_fams_1mi,perc_two_parent_fams_1mi
0,14155,"POLYGON ((-73.40005 41.55349, -73.40049 41.550...",136.369388,133.725112,97.861734,39812.500000,11.745736,71.814975,104.766760,0.000000,...,0.332690,0.557957,0.134075,0.307968,0.001234,0.014313,0.009903,0.439535,0.284277,0.715723
1,21665,"POLYGON ((-87.67427 41.91533, -87.67461 41.912...",2532.970200,5382.803250,4795.460369,47316.430769,430.978629,1591.868381,2389.710698,119.144499,...,0.563319,0.172432,0.487162,0.339146,0.008703,0.034405,0.014052,0.281482,0.291997,0.708003
2,11580,"POLYGON ((-83.11378 42.45605, -83.11406 42.453...",877.055862,982.728357,2336.742405,36251.807692,0.717941,799.523117,177.692246,77.601508,...,0.329910,0.827285,0.083627,0.085291,0.000000,0.207817,0.000083,0.428680,0.198406,0.801594
3,3440,"POLYGON ((-76.98881 38.95993, -76.98909 38.957...",1054.900604,2735.994758,22965.033893,38433.214286,108.034691,562.884156,485.876224,155.366243,...,0.372488,0.628701,0.089559,0.281233,0.012838,0.216764,0.007412,0.384302,0.440850,0.559150
4,3150,"POLYGON ((-84.48644 37.96811, -84.48689 37.965...",1377.456105,1418.919962,2377.112397,31365.666667,20.634158,500.678862,497.747865,0.000000,...,0.525167,0.551688,0.102396,0.341985,0.003784,0.002758,0.002361,0.299778,0.450116,0.549884

In [2]:
# Samples of get_buffer
# Generate an buffer for the geodataframe

import pandas as pd
import geopandas

stores = carto.get_geopandas_from_query('select cartodb_id, the_geom, latitude, longitude from all_stores limit 1000')

# 2 miles
buffers = carto.get_buffers(stores, 2)
print (len(buffers))
buffers.head()

[2021-01-21T01:21:28Z] (135437) {cf_model.py:392} INFO - Processing data
[2021-01-21T01:21:28Z] (135437) {carto.py:125} WARNING - Geometry column not found in the GeoDataFrame.
[2021-01-21T01:21:32Z] (135437) {cf_model.py:406} INFO - Calculating buffers ...
[2021-01-21T01:21:42Z] (135437) {cf_model.py:411} INFO - Calculated !

1000

,cartodb_id,latitude,longitude,the_geom
0,14155,41.553755,-73.419341,"POLYGON ((-73.38076 41.55322, -73.38164 41.547..."
1,21665,41.915218,-87.693671,"POLYGON ((-87.65486 41.91545, -87.65555 41.909..."
2,11580,42.455686,-83.133339,"POLYGON ((-83.09422 42.45641, -83.09478 42.450..."
3,3440,38.959614,-77.007376,"POLYGON ((-76.97025 38.96025, -76.97081 38.954..."
4,3150,37.968497,-84.504742,"POLYGON ((-84.46813 37.96771, -84.46903 37.962..."